<div class="container">
  <div class="py-4">
    <h1 class="py-3">Formulario de empleado</h1>
    <hr />
    <div class="py-2">
      <form class="row g-3" [formGroup]="formEmpleado">
        <div class="col-md-6">
          <label for="nombre" class="form-label">Nombre completo</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombreCompleto"
          />
        </div>
        <div class="col-md-6" formGroupName="departamento">
          <label for="departamento" class="form-label">Departamento</label>
          <select class="form-select" id="departamento" formControlName="idDepartamento">
            @for (item of listaDepartamentos; track $index) {
              <option [value]="item.idDepartamento">{{item.nombre}}</option>
            }
          </select>
        </div>
        <div class="col-md-6">
          <label for="sueldo" class="form-label">Sueldo</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend">$</span>
            <input
              type="number"
              class="form-control"
              id="sueldo"
              formControlName="sueldo"
              aria-describedby="inputGroupPrepend"
            />
          </div>
        </div>
        <div class="col-md-6">
          <label for="fechacontrato" class="form-label">Fecha Contrato</label>
          <input type="text" class="form-control" formControlName="fechaContrato" id="fechacontrato" />
        </div>
        <div class="col-12">
            <button class="btn btn-primary mr-2" (click)="guardar()">Guardar</button>
            <button class="btn btn-warning mx-2" (click)="volver()">Volver</button>
        </div>
      </form>
    </div>
  </div>
</div>
