<div class="container py-5">
    <div class="card my-2">
      <div class="card-header d-flex">
        <h1 class="py-2">Lista de Departamentos</h1>
        <div class="ms-auto">
          <button class="btn btn-primary" (click)="nuevo()">
            Nuevo departamento
          </button>
        </div>
        
      </div>
      <div class="card-body py-2 table-responsive">
       @for (item of listaDepartamentos; track $index) {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       }
      </div>
    </div>
  </div>
  

